
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-expand-lg bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="router1.php?action=CaveAccueil">BOSS Boss</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">VIN</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=vinReadAll">Liste des vins</a></li>
            <li><a class="dropdown-item" href="router1.php?action=vinReadId">Sélection d'un vin par son id</a></li>
            <li><a class="dropdown-item" href="router1.php?action=vinCreate">Insertion d'un vin</a></li> 
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTEUR</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=ProducteurReadAll">Liste des producteurs</a></li>
            <li><a class="dropdown-item" href="router1.php?action=ProducteurReadId">Sélection d'un producteur par son id</a></li>
            <li><a class="dropdown-item" href="router1.php?action=ProducteurCreate">Insertion d'un producteur</a></li>
            <li><a class="dropdown-item" href="router1.php?action=ProducteurReadRegion">Liste des régions sans doublon</a></li>
            <li><a class="dropdown-item" href="router1.php?action=ProducteurNumber">Nombre de producteurs par région</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Documentation</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="router1.php?action=CaveProposition1">Proposition 1</a></li>
                <li><a class="dropdown-item" href="router1.php?action=CaveProposition2">Proposition 2</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 

<!-- ----- fin fragmentCaveMenu -->

